language: python
python: "3.7"

install: "pip install -r requirements.txt"

script:
  - black --config pyproject.toml ./
  - flake8 --exclude=.git,*migrations*,venv,docs
  - pydocstyle --convention=numpy --add-ignore=D412 binsmooth.py
  - pytest